@CHARSET "UTF-8";

/* general */
.w100 { width: 100px !important; }
.w150 { width: 150px !important; }
.w200 { width: 200px !important; }
.w250 { width: 250px !important; }
.w300 { width: 300px !important; }
.w400 { width: 400px !important; }
.tleft { text-align:left; }
.tcenter { text-align:center; }
.tright { text-align:right; }
.fleft { float:left; }
.fright { float:right; }
.clear { clear:both; }
.hidden { display: none; }
.ib { display: inline-block; }
.tdn { text-decoration: none; }
/* layout */
.page_header ul { padding: 0px; }
.page_header li {
 list-style: none;
 float: left;
 padding-right: 10px;
}
#page_footer { margin-top: 20px; }
/*message*/
.ui-state-error { margin: 0 0 20px; }
.message_area .ui-state-error, .message_area .ui-state-highlight {
  padding: 0 .7em;
  cursor: pointer;
  overflow: hidden;
}
.ui-state-error .ui-icon-alert, .ui-state-highlight .ui-icon-info {
  float: left;
  margin: 12px .3em 12px 0;
}
.ui-state-error p, .ui-state-highlight p { float: left; margin: 0; padding: 12px 0; }
#message_area { padding: 10px 0 5px 0; }
/* form */
form { clear:both; }
form fieldset ul { padding: 0px; }
form fieldset li label {
  float: left;
}
form fieldset li {
 list-style: none;
 overflow: hidden;
 padding-bottom: 10px;
}
#main_content > form.fullwidth { width: 100%; }
#main_content > .form {
 width: 50%;
 min-width: 300px;
 font: bold 11px/1.5em Verdana;
}
#main_content > .form textarea { height: 5em; }
.form fieldset { margin: 0; }
.form legend {
  font-size:1em;
  padding: 5px;
  margin-bottom: 0px;
}
#login_form {
  width: 50%;
  min-width: 300px;
}
form.styled fieldset button { float: right; }
form.styled .mceLayout, form.styled .info {
  width:auto;
  margin:5px 0 0 10px;
  float:left;
}
form.styled .existing {
  width: 64px;
  height: auto;
  margin:5px 0 0 10px;
  float:left;
}
.form span.field_lbl { padding: 6px; }
/*table*/
.box-table-a th { font-size: 1.1em; }
.box-table-a { font-size: 1em; }
.box-table-a .pl20 { padding-left: 20px; }
.box-table-a .pr20 { padding-right: 20px; }
.box-table-a td { vertical-align: top; }
/*dialog*/
.ui-dialog { font-size:12px; }
.ui-dialog fieldset { padding:0; border:0; margin-top:5px; }
div.dialog { display: none; }
div.dialog .text { width: 400px; }
div.dialog textarea { height: 10em; }
/* fix jquery ui*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {margin-top: 0; }
/* location table */
.location_table { margin-bottom: 10px; }