.DS_Store
.svn
.project
.buildpath
.settings

/cgi-bin/
/favicon.ico

/codeigniter/cache/*
/codeigniter/logs/*
/application/cache/*
/application/logs/*
/application/config/database.php
/application/controllers/test.php
/uploads/


